#ribbon{
    background-color: rgb(38, 59, 59);
    background-image: repeating-linear-gradient(45deg,transparent,transparent 25px,rgb(97, 211, 211,0.5),rgb(6, 58, 58,0.5) 30px );
}

#ribbon::after{
    content: '';
    background-color: transparent;
    display: block;
    height: 20px;
    width: 50%;
    margin: 0 auto;
    position: relative;
    left: auto;
    margin-top: -40px;
}

#Go-and-Try{
    background-color: rgb(45, 44, 51);/**/
    position: relative;
    margin-top: -20px;
    z-index: 10;
    box-shadow: 0 0 10px rgb(0, 0, 0,0.5)
}

#Go-and-Try img{
    position: relative;
    margin-top: -80px;
}

.text-shadow{
    text-shadow: 0 3px 3px rgb(0,0,0,0.6);
}

#separator-ribbon{
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 2;
}
#separator-ribbon .content{
    width: 150%;
    height: 150px;
    margin-left: -25%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.card-border{
    /* height: 900px; */

    border: solid 10px white;
    border-radius: 20px;
    overflow: hidden;
    transition: all ease-out 0.2s;
}

.card-border:hover{
    transform: scale(1.05);
}

.card-img-top{
    height: 650px;
}

#CardsWall{
    background: rgb(255, 255, 255);
    background: url(../img/Line_Cds_B.png), linear-gradient(0deg,rgba(255, 255, 255,1), rgb(21, 62, 87)) 57%;
    background-repeat: repeat-x;
    background-size: 75%;
    margin-top: -20px;
}

#footer{
    background: url(../img/bgF.png);
    background-color: rgb(4, 98, 98);
    background-size: 50px 50px;
}